@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* Elimina lo spazio bianco e la barra di scorrimento orizzontale */
    overflow-x: hidden;
}

/* --------------------------------------------------------------------------------------- */

/* Parametri del DIV principale CONTAINER */
#container {
    background-color: rgb(77, 74, 74);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* HEADER */
header {
    background-color: #0A100D;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-shrink: 0;
}

.title-header {
    color: white;
    font-family: "Nobile", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* --------------------------------------------------------------------------------------- */

/* MAIN DESKTOP */

main {
    background-image: url('/src/assets/img_desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
    padding: 0;
}

/* FINESTRA SINISTRA */

.hero-content {
    position: absolute;
    top: 20%;
    left: 29%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding: 30px 35px;
}

.text1 {
    font-family: "Montserrat", sans-serif;
    color: rgb(175, 145, 145);
    text-align: left;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.text2 {
    font-family: "Montserrat", sans-serif;
    color: rgb(175, 145, 145);
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 20px;
    line-height: 1.4;
}

.text3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: rgb(206, 184, 184);
    font-size: 1.5rem;
    text-align: left;
}

/* CONTAINER INPUT */

.container-input {
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding: 30px 35px;
}

.input-search {
    width: 100%;
    height: 36px;
    border-radius: 100px;
    border: black 0px;
    padding-left: 20px;
    background-color: #C6AC8F;
}

.btn {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.carica,
.mp3 {
    width: 150px;
    height: 25px;
    background-color: #902923;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.nota-guida {
    margin-top: 20px;
    color: rgb(206, 184, 184);
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
}

/* FINESTRA DESTRA */

.hero-content-dx {
    height: 300px;
    position: absolute;
    top: 40%;
    left: 71%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding: 30px 35px;
}

.text-dx {
    position: relative;
    top: 10%;
    color: #C6AC8F;
    font-size: 11px;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
}

.title-dx {
    position: relative;
    top: 25%;
    font-size: 100px;
    color: #C6AC8F;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.6);
}

.title-dx * {
    font-family: "Montserrat", sans-serif !important;
}

/* FOOTER */

footer {
    min-height: 90px;
    background-color: #0A100D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.text-footer {
    color: white;
    font-family: "Nobile", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0px;
}

/* ------------------------------------------------------------------------------ */

/* RESPONSIVE - TABLET (max 1024px) */

@media screen and (max-width: 1024px) {

    header {
        min-height: 55px;
        padding: 0 30px;
    }

    .title-header {
        font-size: 1.1rem;
    }

    main {
        padding: 100px;
        background-image: url('/src/assets/img_tablet.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: flex-start !important;
        gap: 0px !important;
    }

    .hero-content,
    .hero-content-dx,
    .container-input {
        position: static !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;
        width: 100% !important;
        max-width: 650px;
        margin: 0 auto !important;

        background: transparent !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 10px 20px !important;
        padding: 10px 20px !important;
    }

    .hero-content {
        order: 1;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
        padding-top: 30px !important;
    }

    .hero-content-dx {
        order: 2;
        background-color: rgba(0, 0, 0, 0.4) !important;
        height: auto !important;
    }

    .container-input {
        order: 3;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
        padding-bottom: 30px !important;
    }

    /* Ridurre la larghezza dell'input e lo centriamo */
    .container-input input {
        width: 75% !important;
        max-width: 420px !important;
        margin: 0 auto 15px auto !important;
        display: block !important;
        text-align: center;
    }

    .btn {
        display: flex;
        justify-content: space-evenly;
    }

    .carica,
    .mp3 {
        width: 120px;
    }

    .text-dx {
        color: #cdad83 !important;
    }

    .title-dx {
        top: auto !important;
        margin-top: 15px;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: none;
    }

    .title-dx * {
        font-size: 2.8rem !important;
        font-weight: 800 !important;
        color: #cdad83 !important;
        letter-spacing: 2px;
    }

    .text1,
    .text2 {
        font-size: 1rem;
        color: #E0C097 !important;
    }

    .text3 {
        font-size: 1.6rem;
        color: #d4a567 !important;
        font-size: 1.7rem;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
    }
}

/* RESPONSIVE - MOBILE (max 768px) */
@media screen and (max-width: 768px) {

    header {
        min-height: 50px;
        padding: 0 15px;
    }

    .title-header {
        font-size: 1rem;
        gap: 6px;
    }

    .title-header svg {
        font-size: 14px !important;
    }

    main {
        padding: 120px 40px;
        background-image: url('/src/assets/img_mobile.png');
        background-position: center 30%;
    }

    .text1 {
        font-size: 0.9rem;
        margin-bottom: 4px;
    }

    .text2 {
        font-size: 0.9rem;
        margin-bottom: 15px;
        line-height: 1.5;
    }

    .text3 {
        font-size: 1.3rem;
    }
}