/* Importo il Google Font direttamente qui sul CSS */
@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------- */

/* Parametri del DIV principale CONTAINER */
#container {
    background-color: rgb(77, 74, 74);
    height: 100vh;
}

/* HEADER */
header {
    background-color: #0A100D;
    min-height: 5vh;
    display: flex;
}

.title-header {
    color: white;
    font-family: "Nobile", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    align-self: center;
}